<div class="row" ng-app="AngulaRails" ng-controller="GitHttpController">
	<div class="col-md-6">
		<h1>Git $http</h1>
		<form ng-submit="search()">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-search" ng-hide="searching"></i>
          <i class="fa fa-refresh fa-spin" ng-show="searching"></i>
				</span>
				<input type="text" class="form-control" placeholder="Git Username" ng-model="username">
      </div>
      <div class="alertalert-danger" ng-show="errorMessage">
      	<strong><i class="glyphicon glyphicon-warning-sign"></i> Error!</strong>
      	{{ errorMessage }}
      </div>
    </form>

    <ul class="list-group">
    	<h3 ng-show="found">{{ repos.length }} repos found</h3>
    	<li class="list-goup-item" ng-repeat="repo in repos">
    		<h4 class="list-roup-item-heading">{{ repo.name }}</h4>
    		<p class="list-group-item-text text-muted">{{ repo.url }}</p>
    	</li>
    </ul>
  </div>
</div>